@green: #8ec060;
@purple: #1f2c5c;
@url:'../imgs/';
.purpleRgb(@opacity){
	color: rgba(31,44,92,@opacity);
}
.linearBg2 {
	background: #42958a;
	background: -webkit-linear-gradient(left, #B4EC80 0%, #00908C 100%);
	background: -o-linear-gradient(right, #B4EC80 0%, #00908C 100%);
	background: -moz-linear-gradient(right, #B4EC80 0%, #00908C 100%);
	background: linear-gradient(to right, #B4EC80 0%, #00908C 100%);
	filter: alpha progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B4EC80, endcolorstr=#00908C, gradientType=1); /*ie8*/
	:root .gradient{filter:none;} ; /*ie9*/
}

.buyTicketList {
	height: auto;
	padding: 20px 10px 10px;
	overflow: hidden;
	.SelectDate, .SelectFlight, .PassengerInformation, .LanmeiPay, .Complete {
		width: 114px;
		dt {
			img {
				width: 80px;
				height: 62px;
			}
		}
	}
}
.selectAir {
	.local_timeSelect, .passenger_Select {
		> div {
			height: 50px;
			input {
				height: 50px;
				line-height: 50px;
				margin-top: 0;
				padding: 0 20px 0 70px;
				font-size: 16px;
				color: @purple;
				border-radius: 2px;
				border: none;
				background:rgba(31,44,92,0.04);
			}
			#localChangeImg {
				top: 16px;
			}
			.fromcityinput {
				background: url('@{url}originStart3.png') 20px no-repeat rgba(31, 44, 92, 0.04);
			}
			.tocityinput {
				background: url('@{url}originEnd3.png') 20px no-repeat rgba(31, 44, 92, 0.04);
			}
			.img01 {
				background: url('@{url}localChange3-active.png') center no-repeat;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			.purpleRgb(.3);font-size: 16px; 
			}

			::-moz-placeholder { /* Mozilla Firefox 19+ */
				.purpleRgb(.3);font-size: 16px;
			}

			input:-ms-input-placeholder{
				.purpleRgb(.3);font-size: 16px;
			}

			input::-webkit-input-placeholder{
				.purpleRgb(.3);font-size: 16px;
			}
		}
	}
	.local_timeSelect {
		>div {
			width: 267px;
			input {
				width: 267px;
			}
			#timeFrom, #timeTo {
				width: 267px;
				background: url('@{url}departureDate3.png') 20px no-repeat rgba(31, 44, 92, 0.04);
			}
		}
		.localSelectStart {
			width: 313px;
		}
		.timeSelectStart {
			width: 267px;
    	margin-right: 46px;
		}
	}
	.passenger_Select {
		padding-left: 20px;
		.CabinSelect {
			width: 180px;
			margin-right: 20px;
		}
		.cityinput {
			width: 100%;
			background: url('@{url}cabin-icon3.png') 20px no-repeat rgba(31, 44, 92, 0.04);
		}
		.searchAir {
			width: 140px;
			margin-top: 0;
			margin-bottom: 0;
			a {
				width: 140px;
				height: 50px;
				line-height: 50px;
				padding: 0;
				color: #fff;
				font-size: 16px;
				border: none;
				.linearBg2;
				&:hover {
					.linearBg2;
				}
			}
		}
	}
}

.people-com{
	width: 100% !important;
	margin-right: 0;
	.t-people-result{
		width: 100%;
		height: 100%;
		line-height: 50px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 2px;
		background: rgba(31, 44, 92, 0.04);
		>p{
			float: left;
			width: 80px;
			padding-left: 36px;
			font-size: 20px;
			color: @purple;
		}
		.p-adult{background: url('@{url}adult-icon3.png') 0 center no-repeat;}
		.p-child{
			margin-left: 15px;
			margin-right: 15px;
			background: url('@{url}child-icon3.png') 0 center no-repeat;
		}
		.p-infant{background: url('@{url}infant-icon3.png') 0 center no-repeat;}
	}
	.hidden-infant{
		text-align: center;
		>p{
			float: none;
			display: inline;
		}
		.p-infant{display: none;}
		.p-child{margin-left: 30px;margin-right: 0;}
	}
}
.BackToTop {
	display: none;
}