/* 定义颜色变量 */
/* 页面顶部 */
.lm-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 60px;
  line-height: 60px;
  max-width: 1920px;
  padding: 0 20px;
  text-align: center;
}
.lm-header .header-wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.lm-header .h-menu {
  display: none;
  position: absolute;
  width: 150px;
  height: 60px;
  font-size: 18px;
  color: #fff;
  text-align: right;
  cursor: pointer;
}
.lm-header .h-menu > img {
  margin-right: 20px;
}
.lm-header .h-logo-wrap {
  width: 262px;
  height: 60px;
  background: url('imgs/lm-logo.png') left center no-repeat;
  display: block;
}
.lm-header .h-right {
  position: absolute;
  right: 0;
  top: 0;
}
.lm-header .h-right > div {
  float: left;
}
.lm-header .h-right > div > a {
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-right > div > a > span {
  margin-left: 4px;
}
.lm-header .h-right > div > a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-right .v-line {
  margin-left: 20px;
  margin-right: 20px;
}
.lm-header .h-right .v-line-2 {
  margin-right: 46px;
}
.lm-header .h-right .dot-login {
  margin-left: 10px;
  margin-right: 10px;
}
.lm-header .h-right .h-login > img,
.lm-header .h-right .h-registered > img {
  margin-right: 6px;
}
.lm-header .h-phone {
  position: absolute;
  left: -50px;
  width: 80px;
  height: 80px;
  background: url('imgs/phone-bg.png') center 20px no-repeat;
}
.lm-header .h-phone .phone-menu {
  display: none;
  position: absolute;
  top: 76px;
  left: -70px;
  width: 220px;
  border-radius: 2px;
  background: #fff;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
}
.lm-header .h-phone .phone-menu > h2 {
  color: rgba(31, 44, 92, 0.8);
  font-size: 20px;
  font-weight: bold;
}
.lm-header .h-phone .phone-menu > p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  height: 25px;
  line-height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  background: url('imgs/phone-bg.png') left center no-repeat;
}
.lm-header .h-phone .phone-menu .p1 {
  margin-top: 20px;
}
.lm-header .h-phone .phone-menu::before {
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -14px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.lm-header .h-phone:hover .phone-menu {
  display: block;
}
.lm-header .h-lang {
  position: absolute;
  right: -20px;
  width: 70px;
  height: 80px;
}
.lm-header .h-lang > p {
  width: 70px;
  height: 80px;
  background: url('imgs/lang-zh.png') center 15px no-repeat;
}
.lm-header .h-lang .lang-menu {
  display: none;
  position: absolute;
  top: 76px;
  left: -216px;
  width: 278px;
  height: 160px;
  border-radius: 2px;
  background: #fff;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 50px 0 rgba(31, 44, 92, 0.2);
}
.lm-header .h-lang .lang-menu > h2 {
  color: rgba(31, 44, 92, 0.8);
  font-size: 20px;
  font-weight: bold;
}
.lm-header .h-lang .lang-menu > a {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  height: 34px;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-lang .lang-menu > a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-header .h-lang .lang-menu .lang-en {
  margin-top: 20px;
  background: url('imgs/lang-en.png') left center no-repeat;
}
.lm-header .h-lang .lang-menu .lang-zh {
  background: url('imgs/lang-zh.png') left center no-repeat;
}
.lm-header .h-lang .lang-menu::before {
  position: absolute;
  top: -14px;
  right: 12px;
  z-index: 9;
  filter: alpha(opacity=0);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.lm-header .h-lang:hover .lang-menu {
  display: block;
}
.lm-sub-header {
  position: relative;
  top: 0;
  border-bottom: 1px solid #ccc;
}
.lm-sub-header .h-menu {
  display: none;
}
.lm-sub-header .h-logo-wrap {
  margin: 0;
  display: block;
  cursor: pointer;
}
.lm-sub-header .h-right .h-phone {
  left: -150px;
}
.lm-sub-header .h-right .v-line,
.lm-sub-header .h-right .h-login,
.lm-sub-header .h-right .dot-login,
.lm-sub-header .h-right .h-registered {
  display: none;
}
/* 页面底部 */
.lm-footer {
  width: 100%;
  min-width: 960px;
  height: 250px;
  padding-top: 24px;
  text-align: center;
  background: #1f2c5c;
}
.lm-footer .lm-logo {
  width: 140px;
  height: 58px;
  margin: 0 auto;
  background: url('http://b2c.lanmeiairlines.com/lqWeb/lqweb/common/images/CN/lanmeiFooterLogo.png') center no-repeat;
}
.lm-footer .facebook {
  margin-top: 16px;
}
.lm-footer .facebook > .a1 {
  margin-right: 40px;
}
.lm-footer .facebook a {
  display: inline-block;
  width: 26px;
  height: 26px;
}
.lm-footer .facebook a img {
  width: 26px;
  height: 26px;
}
.lm-footer .facebook .icon-facebook1 {
  background: url('http://b2c.lanmeiairlines.com/lqWeb/lqweb/common/images/CN/icon-facebook.png') center no-repeat;
}
.lm-footer .facebook .icon-facebook1:hover {
  background: url('http://b2c.lanmeiairlines.com/lqWeb/lqweb/common/images/CN/icon-facebook-active.png') center no-repeat;
}
.lm-footer .facebook .icon-weibo {
  background: url('http://b2c.lanmeiairlines.com/lqWeb/lqweb/common/images/CN/icon-weibo.png') center no-repeat;
}
.lm-footer .facebook .icon-weibo:hover {
  background: url('http://b2c.lanmeiairlines.com/lqWeb/lqweb/common/images/CN/icon-weibo-active.png') center no-repeat;
}
.lm-footer .f-email {
  color: #fff;
  margin-top: 18px;
}
.lm-footer .f-email > img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
}
.lm-footer .f-local {
  margin-top: 14px;
}
.lm-footer .f-local > img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
}
.lm-footer .f-local > i::before {
  color: #fff;
}
.lm-footer .f-local a {
  color: #fff;
}
.lm-footer .copyright {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.lm-footer .copyright a {
  color: rgba(255, 255, 255, 0.4);
  transition: all .3s;
  -webkit-transition: all .3s;
}
.lm-footer .copyright a:hover {
  color: #8ec060;
  transition: all .3s;
  -webkit-transition: all .3s;
}
