@font-face {
  font-family: 'iconfont2';
  src:  url('icomoon.eot?2lv8ef');
  src:  url('icomoon.eot?2lv8ef#iefix') format('embedded-opentype'),
    url('icomoon.ttf?2lv8ef') format('truetype'),
    url('icomoon.woff?2lv8ef') format('woff'),
    url('icomoon.svg?2lv8ef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont2 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atm:before {
  content: "\e900";
}
.icon-airport:before {
  content: "\e901";
}
.icon-Korean .path1:before {
  content: "\e902";
  color: rgb(53, 54, 54);
}
.icon-Korean .path2:before {
  content: "\e903";
  margin-left: -1.4990234375em;
  color: rgb(255, 255, 255);
}
.icon-Korean .path3:before {
  content: "\e904";
  margin-left: -1.4990234375em;
  color: rgb(204, 48, 60);
}
.icon-Korean .path4:before {
  content: "\e905";
  margin-left: -1.4990234375em;
  color: rgb(0, 92, 158);
}
.icon-Korean .path5:before {
  content: "\e906";
  margin-left: -1.4990234375em;
  color: rgb(35, 24, 21);
}
.icon-cambodia .path1:before {
  content: "\e907";
  color: rgb(35, 31, 32);
}
.icon-cambodia .path2:before {
  content: "\e908";
  margin-left: -1.49609375em;
  color: rgb(0, 0, 153);
}
.icon-cambodia .path3:before {
  content: "\e909";
  margin-left: -1.49609375em;
  color: rgb(204, 0, 0);
}
.icon-cambodia .path4:before {
  content: "\e90a";
  margin-left: -1.49609375em;
  color: rgb(0, 0, 153);
}
.icon-cambodia .path5:before {
  content: "\e90b";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path6:before {
  content: "\e90c";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path7:before {
  content: "\e90d";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path8:before {
  content: "\e90e";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path9:before {
  content: "\e90f";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path10:before {
  content: "\e910";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path11:before {
  content: "\e911";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path12:before {
  content: "\e912";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path13:before {
  content: "\e913";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path14:before {
  content: "\e914";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path15:before {
  content: "\e915";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path16:before {
  content: "\e916";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path17:before {
  content: "\e917";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path18:before {
  content: "\e918";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path19:before {
  content: "\e919";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path20:before {
  content: "\e91a";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-cambodia .path21:before {
  content: "\e91b";
  margin-left: -1.49609375em;
  color: rgb(255, 255, 255);
}
.icon-English .path1:before {
  content: "\e91c";
  color: rgb(0, 69, 143);
}
.icon-English .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-English .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-English .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-English .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(204, 52, 64);
}
.icon-English .path6:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(204, 52, 64);
}
.icon-Chinese .path1:before {
  content: "\e922";
  color: rgb(222, 41, 16);
}
.icon-Chinese .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 222, 0);
}
.icon-hour-reception:before {
  content: "\e6f8";
}
.icon--hour-check-in:before {
  content: "\e6f9";
}
.icon-airconditioning:before {
  content: "\e6fa";
}
.icon-Bars:before {
  content: "\e6fb";
}
.icon-beautyparlour:before {
  content: "\e6fc";
}
.icon-babysitting:before {
  content: "\e6fd";
}
.icon-bicyclehire:before {
  content: "\e6fe";
}
.icon-carpark:before {
  content: "\e6ff";
}
.icon-boutique:before {
  content: "\e700";
}
.icon-Casino:before {
  content: "\e701";
}
.icon-carrentalfacilitie:before {
  content: "\e702";
}
.icon-Cloakroom:before {
  content: "\e703";
}
.icon-conferenceroom:before {
  content: "\e704";
}
.icon-bicyclecellar:before {
  content: "\e705";
}
.icon-Childrenspool:before {
  content: "\e706";
}
.icon-gymnasium:before {
  content: "\e707";
}
.icon-Gamesroom:before {
  content: "\e708";
}
.icon-Cafe:before {
  content: "\e709";
}
.icon-foyer:before {
  content: "\e70a";
}
.icon-coachparking:before {
  content: "\e70b";
}
.icon-garage:before {
  content: "\e70c";
}
.icon-laundryfacilities:before {
  content: "\e70d";
}
.icon-Hairdresser:before {
  content: "\e70e";
}
.icon-laundry_service:before {
  content: "\e70f";
}
.icon-indoorpool:before {
  content: "\e710";
}
.icon-currencyexchange:before {
  content: "\e711";
}
.icon-lobby:before {
  content: "\e712";
}
.icon-disabledfacilities:before {
  content: "\e713";
}
.icon-medicalassistance:before {
  content: "\e714";
}
.icon-golf:before {
  content: "\e715";
}
.icon-internetaccess:before {
  content: "\e716";
}
.icon-playground:before {
  content: "\e717";
}
.icon-Pubs:before {
  content: "\e718";
}
.icon-sauna:before {
  content: "\e719";
}
.icon-Lifts:before {
  content: "\e71a";
}
.icon-Newspaperkiosk:before {
  content: "\e71b";
}
.icon-hotelsafe:before {
  content: "\e71c";
}
.icon-kidsclub:before {
  content: "\e71d";
}
.icon-solarium:before {
  content: "\e71e";
}
.icon-Nightclub:before {
  content: "\e71f";
}
.icon-Travelagencyfacili:before {
  content: "\e720";
}
.icon-Shops:before {
  content: "\e721";
}
.icon-restaurants:before {
  content: "\e722";
}
.icon-tennis:before {
  content: "\e723";
}
.icon-Pool:before {
  content: "\e724";
}
.icon-Mobile-phonenetwork:before {
  content: "\e725";
}
.icon-outdoorpool:before {
  content: "\e726";
}
.icon-tvroom:before {
  content: "\e727";
}
.icon-porterage:before {
  content: "\e728";
}
.icon-room_service:before {
  content: "\e729";
}
.icon-Smallsupermarket:before {
  content: "\e72a";
}
.icon-theatre:before {
  content: "\e72b";
}
.icon-WLANaccess:before {
  content: "\e72c";
}
.icon-floors:before {
  content: "\e72d";
}
.icon-EarlyCheck-in:before {
  content: "\e72e";
}
.icon-Non-smokingarea:before {
  content: "\e72f";
}
.icon-Massage:before {
  content: "\e730";
}
.icon-Supermarket:before {
  content: "\e731";
}
.icon-Smokingarea:before {
  content: "\e732";
}
.icon-AirportShuttle:before {
  content: "\e733";
}
.icon-Tabletennis:before {
  content: "\e734";
}
.icon-Spacentre:before {
  content: "\e735";
}
.icon-Wake-upservice:before {
  content: "\e736";
}
.icon-Beach:before {
  content: "\e737";
}
.icon-Bars1:before {
  content: "\e738";
}
