/* 修改bs的icon*/
.hotel-ok {
  font-size: 14px;
  color: #8ec060;
  margin-right: 6px;
}

/* 修改icon */
.hotel-icon1 {
  font-size: 36px;
  color: #8ec060;
}
.hotel-icon2 {
  font-size: 32px;
  color: #767676;
}
.hotel-icon3 {
  font-size: 18px;
  color: #767676;
  margin-right: 6px;
}